html, body {
    margin: 0;
    padding: 0;
}
.grid-container {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 50% 50%;
}
.header-or-footer{
    display: block;
    width: 100%;
    margin: 0 0 0 0;
}
.header{
    letter-spacing: 2px;
    padding: 10px 0 10px 0;
    text-align: center;
    font-style: italic;
}
.footer{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    height: 40px;
    padding: 0;
    bottom: 0;
}
p.header{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.panel.leftpane{
    padding: 10px 10px;
}
.panel.rightpane{
    padding: 10px;
    overflow: auto;
}
#leftInfo{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 20px;
    padding: 10px;
}
.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#graph{
    margin: 0 auto;
    width: 50%;
    height: auto;
    background-color: white;
}
@media screen and (max-width: 1000px) {
    #graph {
        width: 60%;
    }
}
@media screen and (max-width: 700px) {
    #graph {
        width: 100%;
    }
}
.form{
    display: block;
    margin: auto;
    padding: 10px;
}
input{
    width: 50px;
}
#server_results{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
table, th, td {
    border-collapse: collapse;
    text-align: center;
    padding: 3px;
    font-size: medium;
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: normal;
}
th{
    font-weight: bold;
}
.xvalues{
    display: inline;
}
.xvalues > input {
    font-size: medium;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    margin: 10px 0;
}