html, body {
    background-color: #edeef0;
}
.header-or-footer{
    color: #ffffff;
    background-color: #125e5e;
}
#leftInfo{
    background-color: #125e5e;
}
.form{
    background-color: #53eeee;
}
table, th, td {
    border: 1px solid black;
}
th{
    background-color: #83a4e5;
}
table tr:nth-child(2n){
    background-color: #daf5f5;
}
table tr:nth-child(2n+1){
    background-color: #53eeee;
}
tr > td:hover{
    border-color: red;
    background-color: greenyellow;
}
.xvalues > input {
    background-color: #2b8a8a;
}

