html, body {
    background-color: #181818;
}
.header-or-footer{
    color: #ffffff;
    background-color: #212121;
}
#leftInfo{
    background-color: #212121;
    border: 1px solid #ffffff;
}
.form{
    background-color: #676767;
}
table, th, td {
    border: 1px solid #000000;
}
th{
    background-color: #2b8a8a;
}
table tr:nth-child(2n){
    background-color: #daf5f5;
}
table tr:nth-child(2n+1){
    background-color: #a9f3f3;
}
tr > td:hover{
    border-color: red;
    background-color: greenyellow;
}
.xvalues > input {
    background-color: #2b8a8a;
}

